@model IEnumerable<GarageVParrot.Models.Review>

<section>
    <h2>Témoignages</h2>
    <div class=" container cards-review">

        @foreach (Review review in Model.OrderBy(r => r.datePublished))
        {
            if(review.Accepted == true)
            {
                <div class="card card-review">
                    <div class="card-header card-header-review d-flex justify-content-between align-items-center">
                        <div class="rating">
                            @for (int r = 0; r < review.Rating; r++)
                            {
                                <i class="bi bi-star-fill"></i>
                            }
                            @for (int r = review.Rating; r < 5; r++)
                            {
                                <i class="bi bi-star"></i>
                            }
                        </div>
                        <div>
                            @{
                                string parameterValue = review.datePublished.ToString("MMMM yyyy");
                            }
                            @Html.DisplayFor(modelItem =>parameterValue)
                        </div>
                    </div>
                    <div class="card-body card-body(review p-1 d-block d-flex">
                        <q>@Html.DisplayFor(modelItem => review.Description)</q>
                        <p class="mt-2">@Html.DisplayFor(modelItem => review.Name)</p>
                    </div>
                    @if(User.Identity.IsAuthenticated) {
                    <div class="card-buttons">
                        <button class="edit"><a asp-action="Edit" asp-route-id="@review.Id">Modifier</a></button>
                        <button class="delete"><a asp-action="Delete" asp-route-id="@review.Id">Supprimer</a></button>
                    </div>
                    }
                </div>
            }
        }
     </div>
</section>

@{
    var contactModel = new GarageVParrot.ViewModels.ContactViewModel
            {
                ReturnUrl = Context.Request.Path
            };
}
@await Html.PartialAsync("_contactForm", contactModel)
