@model IEnumerable<GarageVParrot.Models.Review>


<h2>Liste des témoignages à valider</h2>

<a class="return-index" asp-action="Create">Ajouter un témoignage</a>

<form asp-controller="Reviews" asp-action="Validate" method="get">
    <div class="search-bar d-flex gap-2 align-items-center mb-3 form-group ">
        <input class="form-control search-input" type="text" placeholder="Filtrer" name="SearchString">
        <button class="search-btn send control-label" type="submit">Rechercher</button>
    </div>
</form>

@if (TempData["Message"] != null)
{
    <div class="tempdata-form" style="color: @(TempData["Message"].ToString().Contains("Échec") ? "#BE0C0C" : "#0D5B82")">
        @TempData["Message"]
    </div>
}

<div class="reviews-grid">
    <div class="review-grid-header d-grid">
        <div><h4>Nom</h4></div>
        <div><h4>Description</h4></div>
        <div><h4>Note</h4></div>
        <div><h4>Valider le témoignage</h4></div>
        <div><h4>Action</h4></div>
    </div>

    @foreach (Review review in Model)
    {
        
    <hr />
        <form  asp-action="Validate" method="post">
            <div class="d-grid review-grid-body">
                <input type="hidden" id="Id" name="Id" asp-for="@review.Id" />
                <input type="hidden" id="Name" name="Name" asp-for="@review.Name" />
                <input type="hidden" id="Description" name="Description" asp-for="@review.Description" />
                <input type="hidden" id="Rating" name="Rating" asp-for="@review.Rating" />
                <input type="hidden" id="UserId" name="UserId" asp-for="@review.UserId" />
                <div class="review-validate-name">
                        @Html.DisplayFor(modelItem => review.Name)
                </div>
                <div class="review-validate-description">
                        @Html.DisplayFor(modelItem => review.Description)
                </div>
                    <div class="review-validate-rating">
                        @for (int r = 0; r < review.Rating; r++)
                        {
                        <i class="bi bi-star-fill"></i>
                        }
                        @for (int r = review.Rating; r < 5; r++)
                        {
                        <i class="bi bi-star"></i>
                        }
                </div>

                <div class="review-validate-checkbox">
                    <input type="checkbox" id="Accepted" name="Accepted" asp-for="@review.Accepted" value="true" />
                </div>
                <div class="review-validate-buttons">
                    <button type="submit" value="Valider" class="send">Valider</button>
                    <button type="button" class="delete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-review-id="@review.Id" onclick="setItemIdToDelete('@review.Id')">Supprimer</button>
                </div>
            </div>
        </form>
    }
</div>


@await Html.PartialAsync("_DeleteModal")

@section Scripts {
    <script>
        function setItemIdToDelete(itemId) {
            document.getElementById('ItemToDeleteId').value = itemId;
        }
    </script>
    }
