@model IEnumerable<GarageVParrot.Models.Car>


<h2>Liste des véhicules</h2>
<div class="return-index-div">
<a class="return-index" asp-action="Create">Ajouter un véhicule</a>
</div>

<form asp-controller="Cars" asp-action="CarManagement" method="get">
    <div class="search-bar d-flex gap-2 align-items-center mb-3 form-group ">
        <input class="form-control search-input" type="text" placeholder="Filtrer" name="SearchString">
        <button class="search-btn send control-label" type="submit">Rechercher</button>
    </div>
</form>

@if (TempData["Message"] != null)
{
    <div class="tempdata-form" style="color: @(TempData["Message"].ToString().Contains("Échec") ? "#BE0C0C" : "#0D5B82")">
        @TempData["Message"]
    </div>
}

<div class="car-grid">
    <div class="car-grid-header d-grid">
        <div><h4>Marque et modèle</h4></div>
        <div><h4>Année</h4></div>
        <div><h4>Kilomètrage</h4></div>
        <div><h4>Image</h4></div>
        <div><h4>Action</h4></div>
    </div>

    @foreach (Car car in Model)
    {
        <hr />
            <div class="d-grid car-grid-body">
                <div class="car-list-brand">
                    @Html.DisplayFor(modelItem => car.Brand) - @Html.DisplayFor(modelItem => car.Model)
                </div>
                <div class="car-management-year">
                    @Html.DisplayFor(modelItem => car.Year)
                </div>
            <div class="car-management-year">
                @Html.DisplayFor(modelItem => car.Kilometers) km
            </div>
                <div class="car-management-image">
                    <img class="car-list-image" src="~/Uploads/CarImageCover/@car.CoverImage" alt="Image de la voiture" />
                </div>
                <div class="car-validate-buttons">
                <button class="send"><a asp-action="Edit" asp-route-id="@car.Id">Modifier</a></button>
                    <button type="button" class="delete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-review-id="@car.Id" onclick="setItemIdToDelete('@car.Id')">Supprimer</button>
                </div>
            </div>
 
    }
</div>
@await Html.PartialAsync("_DeleteModal")

@section Scripts {
    <script>
        function setItemIdToDelete(itemId) {
            document.getElementById('ItemToDeleteId').value = itemId;
        }
    </script>
    }