@model GarageVParrot.ViewModels.DetailCarViewModel

<div class="return-index-div">
	<a class="return-index" asp-action="Index">Retour à la liste</a>
</div>

<section>
	<h2>Détail du véhicule</h2>

	<div class="car-detail-sum">
		@if (Model.ImageListCar.Count() > 0)
		{
			<div class="image-car-detail-container">
				<div id="carouselExampleControls" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active image-car-detail-container">
							<img src="~/Uploads/CarImageCover/@Model.Car.CoverImage" class="d-block w-100 car-detail-img" alt="Images de la voiture">
						</div>

						@foreach (ImageListCar image in Model.ImageListCar)
						{
							<div class="carousel-item image-car-detail-container">
								<img src="~/Uploads/CarImageList/@image.ImagePath" class="d-block w-100 car-detail-img" alt="Images de la voiture">
							</div>
						}

					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		
		} else
		{
			<div class="image-car-detail-container">
				<img src="~/Uploads/CarImageCover/@Model.Car.CoverImage" class="d-block w-100 car-detail-img" alt="Images de la voiture">
			</div>
		}
		<div class="details-text-sum">
			<h3>@Model.Car.Brand</h3>
			<h4>@Model.Car.Model</h4>
			<div class="details-sum">
				<div class="details-sum-1">
					<p>Catégorie : @Model.Car.Category</p>
					<P>Année : @Model.Car.Year</P>
					<p>Kilométrage : @Model.Car.Kilometers km</p>
					<p>Carburant : @Model.Car.Energy</p>
				</div>
				<div class="details-sum-2">
					<p>Puissance : @Model.Car.Power</p>
					<P>Moteur : @Model.Car.Motor</P>
					<p>Boite de vitesse  : @Model.Car.GearType</p>
					<p>Crit'Air : @Model.Car.CritAir</p>
				</div>
				</div>
			<p class="price-detail-sum">@Model.Car.Price €</p>
		</div>
	</div>
</section>

<section class="carateristics">
	<h2>Caratéristiques détaillées</h2>
	<div class="table-carac">
		<div class="grid-column-car-details bordered-right order-first">
			<p>Marque :</p>
			<p>@Model.Car.Brand</p>
		</div>
		<div class="grid-column-car-details bordered-right">
			<p>Nombre de portes :</p>
			<p>@Model.Car.NumberOfDoors</p>
		</div>
		<div class="grid-column-car-details bordered-right order-first">
			<p>Modèle :</p>
			<p>@Model.Car.Model</p>
		</div>
		<div class="grid-column-car-details bordered-right">
			<p>Nombre de sièges :</p>
			<p>@Model.Car.NumberOfSeats</p>
		</div>
		<div class="grid-column-car-details bordered-right order-first">
			<p>Catégorie :</p>
			<p>@Model.Car.Category</p>
		</div>
		<div class="grid-column-car-details bordered-right">
			<p>Airbags :</p>
			<p>@(Model.Car.Airbags ? "Oui" : "Non")</p>
		</div>
		<div class="grid-column-car-details bordered-right order-first">
			<p>Année :</p>
			<p>@Model.Car.Year</p>
		</div>
		<div class="grid-column-car-details bordered-right">
			<p>Climatisation :</p>
			<p>@(Model.Car.AirConditionner ? "Oui" : "Non")</p>
		</div>
		<div class="grid-column-car-details bordered-right order-first">
			<p>Moteur :</p>
			<p>@Model.Car.Motor</p>
		</div>
		<div class="grid-column-car-details bordered-right">
			<p>Bluetooth :</p>
			<p>@(Model.Car.Bluetooth ? "Oui" : "Non")</p>
		</div>
		<div class="grid-column-car-details bordered-right order-first">
			<p>Puissance :</p>
			<p>@Model.Car.Power</p>
		</div>
		<div class="grid-column-car-details bordered-right">
			<p>GPS :</p>
			<p>@(Model.Car.Gps ? "Oui" : "Non")</p>
		</div>
		<div class="grid-column-car-details bordered-right order-first">
			<p>Kilomètrage :</p>
			<p>@Model.Car.Kilometers</p>
		</div>
		<div class="grid-column-car-details bordered-right">
			<p>Régulateur de vitesse :</p>
			<p>@(Model.Car.SpeedRegulator ? "Oui" : "Non")</p>
		</div>
		<div class="grid-column-car-details bordered-right order-first">
			<p>Carburant :</p>
			<p>@Model.Car.Energy</p>
		</div>
		<div class="grid-column-car-details bordered-right">
			<p>Radar de recul :</p>
			<p>@(Model.Car.ReversingRadar ? "Oui" : "Non")</p>
		</div>
		<div class="grid-column-car-details bordered-right order-first">
			<p>Boite de vitesse :</p>
			<p>@Model.Car.GearType</p>
		</div>
		<div class="grid-column-car-details bordered-right">
			<p>ABS :</p>
			<p>@(Model.Car.Abs ? "Oui" : "Non")</p>
		</div>
		<div class="grid-column-car-details bordered-right order-first">
			<p>Crit'Air' :</p>
			<p>@Model.Car.CritAir</p>
		</div>
		<div class="grid-column-car-details bordered-right">
			<p>Garantie :</p>
			<p>@Model.Car.Warranty mois</p>
		</div>
	</div>
</section>

@{
	var contactModel = new GarageVParrot.ViewModels.ContactViewModel
			{
				ReturnUrl = Context.Request.Path,
				Subject = Model.Car.Brand + " - " + Model.Car.Model + " - " + Model.Car.Year + " - " + Model.Car.Kilometers + "km"
			};
}

@await Html.PartialAsync("_contactForm", contactModel)

@section Scripts {
	<script type="text/javascript" src="~/js/form.js"></script>
}