@model IEnumerable<GarageVParrot.Models.Car>

<h2>Nos véhicules d'occasion</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="tempdata-form" style="color: #BE0C0C">
        @TempData["ErrorMessage"]
    </div>
}

<section class="car-cards-list">

    <aside class="filters">
        <div class="filter-filter">
            <div class="d-flex align-items-center justify-content-between main-filter-buttons">
                <h3 class="filter">Filtres</h3>
                <i class="bi bi-chevron-down " onclick="showFilter('filter')"></i>
                <i class="bi bi-chevron-up" onclick="hideFilter('filter')"></i>
            </div>

            <div class="filter-box-open filter-box-close" id="filter-filter-box">

                <div class="brand-filter box-filter" id="brand">
                    <div class="filter-brand d-flex align-items-center justify-content-between">
                        <h4>MARQUE</h4>
                        <i class="bi bi-chevron-down" onclick="showFilter('brand')"></i>
                        <i class="bi bi-chevron-up" onclick="hideFilter('brand')"></i>
                    </div>
                    <div class="filter-box-open filter-box-close limited-height" id="brand-filter-box">
                        @foreach (Car item in Model.DistinctBy(i => i.Brand).OrderBy(i => i.Brand))
                        {
                            var uniqueId = "brand-" + item.Id;
                            <div class="filter-box-item">
                                <input class="form-check-input" type="checkbox" id="@uniqueId" name="car-brand" value="@item.Brand" />
                                <label for="@uniqueId" class="control-label">@item.Brand</label>
                            </div>
                        }
                    </div>
                </div>

                <div class="model-filter box-filter" id="model">
                    <div class="filter-model d-flex align-items-center justify-content-between">
                        <h4>MODELE</h4>
                        <i class="bi bi-chevron-down" onclick="showFilter('model')"></i>
                        <i class="bi bi-chevron-up" onclick="hideFilter('model')"></i>
                    </div>
                    <div class="filter-box-open filter-box-close limited-height" id="model-filter-box">
                        @foreach (Car item in Model.DistinctBy(i => i.Model).OrderBy(i => i.Model))
                        {
                            var uniqueId = "model-" + item.Id;
                            <div class="filter-box-item">
                                <input class="form-check-input" type="checkbox" id="@uniqueId" name="car-model" value="@item.Model" />
                                <label for="@uniqueId" class="control-label">@item.Model</label>
                            </div>
                        }
                    </div>
                </div>

                <div class="category-filter box-filter" id="category">
                    <div class="filter-category d-flex align-items-center justify-content-between">
                        <h4>CATEGORIE</h4>
                        <i class="bi bi-chevron-down" onclick="showFilter('category')"></i>
                        <i class="bi bi-chevron-up" onclick="hideFilter('category')"></i>
                    </div>
                    <div class="filter-box-open filter-box-close limited-height" id="category-filter-box">
                        @foreach (Car item in Model.DistinctBy(i => i.Category).OrderBy(i => i.Category))
                        {
                            var uniqueId = "category-" + item.Id;
                            <div class="filter-box-item">
                                <input class="form-check-input" type="checkbox" id="@uniqueId" name="car-category" value="@item.Category" />
                                <label for="@uniqueId" class="control-label">@item.Category</label>
                            </div>
                        }
                    </div>
                </div>

                <div class="year-filter box-filter" id="year">
                    <div class="filter-year d-flex align-items-center justify-content-between">
                        <h4>ANNEE</h4>
                        <i class="bi bi-chevron-down" onclick="showFilter('year')"></i>
                        <i class="bi bi-chevron-up" onclick="hideFilter('year')"></i>
                    </div>
                    <div class="filter-box-open filter-box-close limited-height" id="year-filter-box">
                        <div class="filter-box-item">
                            <input type="text" class="form-control" id="minYear" name="car-minyear" value="" placeholder="année min" />
                            <input type="text" class="form-control" id="maxYear" name="car-maxyear" value="" placeholder="année max" />
                        </div>
                        <p class="error" id="year-error"> Veuillez entrer un nombre entier </p>
                    </div>
                </div>

                <div class="price-filter box-filter" id="price">
                    <div class="filter-price d-flex align-items-center justify-content-between">
                        <h4>PRIX</h4>
                        <i class="bi bi-chevron-down" onclick="showFilter('price')"></i>
                        <i class="bi bi-chevron-up" onclick="hideFilter('price')"></i>
                    </div>
                    <div class="filter-box-open filter-box-close limited-height" id="price-filter-box">
                        <div class="filter-box-item">
                            <input type="text" class="form-control" id="minPrice" name="car-minprice" value="" placeholder="prix min" />
                            <input type="text" class="form-control" id="maxPrice" name="car-maxprice" value="" placeholder="prix max" />
                        </div>
                        <p class="error" id="price-error"> Veuillez entrer un nombre entier </p>
                    </div>
                </div>

                <div class="km-filter box-filter" id="km">
                    <div class="filter-km d-flex align-items-center justify-content-between">
                        <h4>KILOMETRAGE</h4>
                        <i class="bi bi-chevron-down" onclick="showFilter('km')"></i>
                        <i class="bi bi-chevron-up" onclick="hideFilter('km')"></i>
                    </div>
                    <div class="filter-box-open filter-box-close limited-height" id="km-filter-box">
                        <div class="filter-box-item">
                            <input type="text" class="form-control" id="minKm" name="car-minkm" value="" placeholder="km min" />
                            <input type="text" class="form-control" id="maxKm" name="car-maxkm" value="" placeholder="km max" />
                        </div>
                        <p class="error" id="km-error"> Veuillez entrer un nombre entier </p>
                    </div>
                </div>

                <div class="energy-filter box-filter" id="energy">
                    <div class="filter-energy d-flex align-items-center justify-content-between">
                        <h4>CARBURANT</h4>
                        <i class="bi bi-chevron-down" onclick="showFilter('energy')"></i>
                        <i class="bi bi-chevron-up" onclick="hideFilter('energy')"></i>
                    </div>
                    <div class="filter-box-open filter-box-close limited-height" id="energy-filter-box">
                        @foreach (Car item in Model.DistinctBy(i => i.Energy).OrderBy(i => i.Energy))
                        {
                            var uniqueId = "energy-" + item.Id;
                            <div class="filter-box-item">
                                <input class="form-check-input" type="checkbox" id="@uniqueId" name="car-energy" value="@item.Energy" />
                                <label for="@uniqueId" class="control-label">@item.Energy</label>
                            </div>
                        }
                    </div>
                </div>

                <div class="gear-filter box-filter" id="gear">
                    <div class="filter-gear d-flex align-items-center justify-content-between">
                        <h4>BOITE DE VITESSE</h4>
                        <i class="bi bi-chevron-down" onclick="showFilter('gear')"></i>
                        <i class="bi bi-chevron-up" onclick="hideFilter('gear')"></i>
                    </div>
                    <div class="filter-box-open filter-box-close limited-height" id="gear-filter-box">
                        @foreach (Car item in Model.DistinctBy(i => i.GearType).OrderBy(i => i.GearType))
                        {
                            var uniqueId = "gear-" + item.Id;
                            <div class="filter-box-item">
                                <input class="form-check-input" type="checkbox" id="@uniqueId" name="car-gear" value="@item.GearType" />
                                <label for="@uniqueId" class="control-label">@item.GearType</label>
                            </div>
                        }
                    </div>
                </div>

                <div class="critair-filter box-filter" id="critair">
                    <div class="filter-critair d-flex align-items-center justify-content-between">
                        <h4>CRIT'AIR'</h4>
                        <i class="bi bi-chevron-down" onclick="showFilter('critair')"></i>
                        <i class="bi bi-chevron-up" onclick="hideFilter('critair')"></i>
                    </div>
                    <div class="filter-box-open filter-box-close limited-height" id="critair-filter-box">
                        <div class="filter-box-item">
                            <input class="form-check-input" type="checkbox" id="0" name="car-critair" value="0" />
                            <label for="car-critair" class="control-label">0</label>
                        </div>
                        <div class="filter-box-item">
                            <input class="form-check-input" type="checkbox" id="1" name="car-critair" value="1" />
                            <label for="car-critair" class="control-label">1</label>
                        </div>
                        <div class="filter-box-item">
                            <input class="form-check-input" type="checkbox" id="car-critair-2" name="car-critair" value="2" />
                            <label for="car-critair-2" class="control-label">2</label>
                        </div>
                        <div class="filter-box-item">
                            <input class="form-check-input" type="checkbox" id="car-critair-3" name="car-critair" value="3" />
                            <label for="car-critair-3" class="control-label">3</label>
                        </div>
                        <div class="filter-box-item">
                            <input class="form-check-input" type="checkbox" id="car-critair-4" name="car-critair" value="4" />
                            <label for="car-critair-4" class="control-label">4</label>
                        </div>
                        <div class="filter-box-item">
                            <input class="form-check-input" type="checkbox" id="car-critair-5" name="car-critair" value="5" />
                            <label for="car-critair-5" class="control-label">5</label>
                        </div>
                    </div>
                </div>

                <div class="options-filter box-filter" id="options">
                    <div class="filter-options d-flex align-items-center justify-content-between">
                        <h4>EQUIPEMENTS</h4>
                        <i class="bi bi-chevron-down" onclick="showFilter('options')"></i>
                        <i class="bi bi-chevron-up" onclick="hideFilter('options')"></i>
                    </div>
                    <div class="filter-box-open filter-box-close limited-height" id="options-filter-box">
                        <div class="filter-box-item">
                            <input class="form-check-input" type="checkbox" id="AirConditionner" name="AirConditionner" value="true" />
                            <label for="AirConditionner" class="control-label">Climatisation</label>
                        </div>
                        <div class="filter-box-item">
                            <input class="form-check-input" type="checkbox" id="Bluetooth" name="Bluetooth" value="true" />
                            <label for="Bluetooth" class="control-label">Blutetooth</label>
                        </div>
                        <div class="filter-box-item">
                            <input class="form-check-input" type="checkbox" id="ReversingRadar" name="ReversingRadar" value="true" />
                            <label for="ReversingRadar" class="control-label">Radar de recul</label>
                        </div>
                        <div class="filter-box-item">
                            <input class="form-check-input" type="checkbox" id="Gps" name="Gps" value="true" />
                            <label for="Gps" class="control-label">GPS</label>
                        </div>
                        <div class="filter-box-item">
                            <input class="form-check-input" type="checkbox" id="SpeedRegulator" name="SpeedRegulator" value="true" />
                            <label for="SpeedRegulator" class="control-label">Régulateur de vitesse</label>
                        </div>
                        <div class="filter-box-item">
                            <input class="form-check-input" type="checkbox" id="Abs" name="Abs" value="true" />
                            <label for="Abs" class="control-label">ABS</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <div class="cars-cards">
        @foreach (Car car in Model)
        {
            <div class="car-card card">
                <div class="car-image-container">
                    <img src="~/Uploads/CarImageCover/@car.CoverImage" class="card-img-top" alt="Image de couverture de la voiture">
                </div>
                <div class="car-card-body card-body d-block d-flex">
                    <h3 class="card-text car-card-brand">@Html.DisplayFor(modelItem => car.Brand)</h3>
                    <h4 class="card-text car-card-model">@Html.DisplayFor(modelItem => car.Model)</h4>
                    <p class="card-text car-card-year-km">@Html.DisplayFor(modelItem => car.Year) - @Html.DisplayFor(modelItem => car.Kilometers) km</p>
                    <p class="card-text car-card-price">@Html.DisplayFor(modelItem => car.Price) €</p>
                    <a class="see-more" asp-action="Details" asp-route-id="@car.Id">Voir l'annonce +</a>
                </div>
            </div>
        }
    </div>

</section>

<div class="list-car-contactform">
    @{
        var contactModel = new GarageVParrot.ViewModels.ContactViewModel
            {
                ReturnUrl = Context.Request.Path
            };
    }

    @await Html.PartialAsync("_contactForm", contactModel)
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/filter.js"></script>
    <script type="text/javascript" src="~/js/form.js"></script>
}
