@model IEnumerable<GarageVParrot.Models.Car>

<h2>Nos Véhicules en vente</h2>

<p>
    <a asp-action="Create">Ajouter un véhicule</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Marque et modèle
            </th>
            <th>
                Année et kilométrage
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Brand) - @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Year) // @Html.DisplayFor(modelItem => item.Kilometers) km
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
