@model IEnumerable<GarageVParrot.Models.User>


<h2>Liste des employés</h2>

<a class="return-index" asp-action="Register">Ajouter un employé</a>

@if (TempData["Message"] != null)
{
    <div class="tempdata-form" style="color: @(TempData["Message"].ToString().Contains("Échec") ? "#BE0C0C" : "#0D5B82")">
        @TempData["Message"]
    </div>
}

<div class="account-grid">
    <div class="account-grid-header d-grid">
        <div><h4>Email</h4></div>
        <div><h4>Accès employé</h4></div>
        <div><h4>Action</h4></div>
    </div>


    @foreach (User user in Model)
    {
        <hr />
        <div class="d-grid account-grid-body">
            <div class="account-grid-email">
                @Html.DisplayFor(modelItem => user.Email)
            </div>
            <div class="account-grid-access">
                @if (user.Role == "admin")
                {
                    <input type="checkbox" id="Admin" checked value="true" disabled/>
                }
                else
                {
                    <input type="checkbox" id="Admin" value="false" disabled />
                }
            </div>
            <div class="account-validate-buttons">
                <button class="send"><a asp-action="Edit" asp-route-id="@user.Id">Modifier</a></button>
                <button type="button" class="delete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-review-id="@user.Id" onclick="setItemIdToDelete('@user.Id')">Supprimer</button>
            </div>
        </div>
    }
</div>
@await Html.PartialAsync("_DeleteModal")

@section Scripts {
    <script>
        function setItemIdToDelete(itemId) {
            document.getElementById('ItemToDeleteId').value = itemId;
        }
    </script>
    }