@model GarageVParrot.Models.OpenHours

<p class="mb-0">
    Lundi : @Model.MondayOpenHours <br />
    Mardi : @Model.TuesdayOpenHours<br />
    Mercredi : @Model.WednesdayOpenHours<br />
    Jeudi : @Model.ThursdayOpenHours<br />
    Vendredi : @Model.FridayOpenHours<br />
    Samedi : @Model.SaturdayOpenHours<br />
    Dimanche : @Model.SundayOpenHours
</p>